<% record.department.each do |dep| %>
  <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name"><%= link_to_facet(dep, 'department_tesim') %></span>
  </span>
  <br/>
<% end %>
