<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p style="color:white;"><%= t('hyrax.footer.service_html') %></p>
        <p style="color:white;"><%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p>
    </div>
    <div class="navbar-right" style="width:400px;">
    <div class="ucb-footer"><p style="margin-bottom:2px;"><a href="https://www.colorado.edu"><img class="ucb-footer-be-boulder" src="https://cdn.colorado.edu/static/brand-assets/live/images/be-boulder-white.svg" alt="Be Boulder." style="max-width:240px; height:auto;"></a></p><p style="margin-bottom:2px;"><a class="navbar-link" href="https://www.colorado.edu">University of Colorado Boulder</a></p><p style="margin-bottom:2px;">© Regents of the University of Colorado</p><p style="margin-bottom:2px;"><a class="navbar-link" href="http://www.colorado.edu/about/privacy-statement">Privacy</a> • <a class="navbar-link"  href="http://www.colorado.edu/about/legal-trademarks">Legal &amp; Trademarks</a> • <a class="navbar-link"  href="http://www.colorado.edu/map">Campus Map</a></p></div>
    </div>
    
  </div>
</footer>
