development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV.fetch('SCHOLARS_FEDORA_URL', 'http://localhost:8984') %>/rest
  base_path: /dev
test:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV.fetch('SCHOLARS_FEDORA_URL', 'http://localhost:8986') %>/rest
  base_path: /test
production:
  user: fedoraAdmin
  password: <%= ENV.fetch('FEDORA_PASSWORD', 'secret3') %>
  url: <%= ENV.fetch('SCHOLARS_FEDORA_URL', 'http://fcrepo:8080/fcrepo') %>/rest
  base_path: /production
  request: { timeout: 1000, open_timeout: 1000 }
staging:
  user: fedoraAdmin
  password: <%= ENV.fetch('FEDORA_PASSWORD', 'secret3') %>
  url: <%= ENV.fetch('SCHOLARS_FEDORA_URL', 'http://fcrepo:8080/fcrepo') %>/rest
  base_path: /staging
  request: { timeout: 1000, open_timeout: 1000 }
