/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require zizia/application
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */
/** Global styles */
@import "cu_boulder_font.css";
@import "cu_boulder_branding.css";

/* Add the Core Trust Seal to CU Branded Footer */
.site-footer .container-fluid {
  background-image: url('https://cubl-static.s3-us-west-2.amazonaws.com/samvera/CoreTrustSeal-logo-transparent.png');
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}
