<a id="logo" href="/" class="navbar-brand" style="width:350px;">
  <img src="https://www.colorado.edu/libraries/profiles/express/themes/ucb/images/cu-boulder-logo-text-white.svg" alt="Scholar @ University of Colorado Boulder">
</a>
<span class="institution_name"><%= application_name %></span>
