<a id="logo" href="https://www.colorado.edu/" class="navbar-brand" style="width:300px;">
  <img src="https://www.colorado.edu/libraries/profiles/express/themes/ucb/images/cu-boulder-logo-text-white.svg" alt="Scholar @ University of Colorado Boulder">
</a>
<header class="ucb black" style="clear:both;padding: 5px 0;">
      <div class="container">
        <a href="/" style="text-decoration:none">CU Scholar</a>
        <div class="affiliation" style="text-decoration:none">
          <a href="https://www.colorado.edu/libraries/">University Libraries</a>
        </div>
      </div>
</header>

